/* citation footnotes */

citenote_placeholder,
citenoteplaceholder {
  display: none;
}

.citation-note-wrapper {
  max-width: 842px;
}

.citation-note-wrapper .citation-note-list .single-citenote-wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.citation-note-wrapper .citation-note-description {
  word-break: break-all;
}

.citation-note-wrapper .citation-note-description p {
  word-break: break-all;
  padding: 0;
  margin: 0;
}

.single-citenote-wrap a.citenote-uplink,
sup.citenote-reference a {
  color: inherit;
  text-decoration: inherit;
  transition: all 0.4s ease;
}

.citation-note-popup {
  position: absolute;
  max-width: 360px;
  background: white;
  width: 100%;
  color: #000;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 12px;
  border-radius: 8px;
  z-index: 49;
  font-size: 0.875rem;
  display: none;
  transition: opacity 0.2s ease;
  overflow-wrap: break-word;
}

.citation-note-popup::before {
  content: "";
  position: absolute;
  top: -7px;
  left: var(--arrow-left, 20px);
  transform: translateX(-50%) rotate(45deg);
  width: 14px;
  height: 14px;
  background: #fff;
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.citation-note-popup.show {
  display: block;
  opacity: 1;
}

.citation-note-popup.hide {
  opacity: 0;
  pointer-events: none;
}